SERVER_PORT=7532
SERVER_ADDRESS=http://localhost

CLIENT_PORT=2357

POSTGRES_USER=dev
POSTGRES_PASSWORD=dev
POSTGRES_DB=dev
POSTGRES_LISTEN_PORT=5432
POSTGRES_HOST_LISTEN_PORT=5432

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_LISTEN_PORT}/${POSTGRES_DB}

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=root
PGADMIN_HOST_LISTEN_PORT=5050
PGADMIN_LISTEN_PORT=80