# port the NestTS app is listening on (on host machine and on container named "backend".) See compose.yaml for usage.
SERVER_PORT=
# address of the NestTS server is can be localhost if using host machine. Otherwise, it is called "backend" which is
# the hostname of the container for the NestTS server
SERVER_ADDRESS=
# port the react app is listening on (on host machine and on container named "frontend".) See compose.yaml for usage.
CLIENT_PORT=

# postgres database credentials (Note: pgadmin also uses these credentials as well to access the postgres database.)
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
# host machine port for postgres
POSTGRES_LISTEN_PORT=
# container port for postgres
POSTGRES_HOST_LISTEN_PORT=

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# database URL for use by prisma
DATABASE_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:${POSTGRES_LISTEN_PORT}/${POSTGRES_DB}

# sample email and password to login to pgadmin
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=
# host machine port for pgadmin
PGADMIN_HOST_LISTEN_PORT=
# container port for pgadmin
PGADMIN_LISTEN_PORT=