.modal {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: rgb(152, 172, 189);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  max-width: 75%;
  height: 60%;
  max-height: 75%;
  z-index: 1010;
  padding: 1rem;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  
}

.modalCloseBtn {
  height: 1.5rem;
  max-height: 3rem;
  max-width: 3rem;
  width: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal.closed {
  display: none;
}

.modal textarea {
  resize: none;
  overflow: hidden;
}

.modalFooter {
  overflow: hidden;
}

.backdrop {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
